<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="/css/video/upload/style.css" rel="stylesheet" type="text/css"/>
		<link rel="icon" type="image/x-icon" href="/media/favicon.svg">
		<title><%= login %></title>
		<!-- main css files -->
		<link rel="stylesheet" href="<%= assetFingerprint('/css/main.css') %>" type="text/css"/>
		<link rel="stylesheet" href="<%= assetFingerprint('/css/btns.css') %>" type="text/css"/>
		<!-- layouts -->
		<link href="<%= assetFingerprint('/css/header.css') %>" rel="stylesheet" type="text/css"/>
		<link href="<%= assetFingerprint('/css/footer.css') %>" rel="stylesheet" type="text/css"/>
	</head>
	<body>
	<%- include("layouts/header") %>

	
	<!-- Display -->
		<div id="display">
			<h1><%= login %></h1>
			<% if(data == '') { %>
				<h3>The user doesn't have a video yet</h3>
			<% } %>
			<% data.forEach(function(user) { %>
				<div class="video-box">
					<a href="/video/<%= user.id %>" class="video-link">
						<div class="video">
							<img src="https://video.sibnet.ru/upload/cover/video_<%= user.poster %>_0.jpg" class="poster"></img>
							<br>
							<br>
							<span class="title info"><%= user.title %></span><br>
							<span class="posted info">likes <%= user.likes %></a></span>
							<span class="posted info">dislikes <%= user.dislikes %></a></span><br>
							<span class="views info"><%= user.views %> views</span>
						</div>
					</a>
				</div>
			<% }); %>
			<a href="/auth/logout"><button>Logout</button></a>
			<a href="/video/upload"><button>Upload new video</button></a>
		</div>

	<%- include("layouts/footer") %>
	</body>
</html>