<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/media/favicon.svg">
	<!-- Styles -->
	<link rel="stylesheet" href="<%= assetFingerprint('/css/admin/style.css') %>" type="text/css" />
	<title>Elmore Stream IT</title>
	<!-- main css files -->
	<link rel="stylesheet" href="<%= assetFingerprint('/css/main.css') %>" type="text/css" />
	<link rel="stylesheet" href="<%= assetFingerprint('/css/btns.css') %>" type="text/css" />
</head>

<body>
	<div class="header">
		<div>users 
			<h2>
				<%= data.users %>
			</h2>
		</div>
		<div>videos 
			<h2>
				<%= data.videos %>
			</h2>
		</div>
		<div>Admins
			<h2>
				<%= data.admins %>
			</h2>
		</div>
		<div>bob</div>
	</div>

	<div class="menu">
		<div class="min-menu">
			<div class="change-project">
				<li><img height="40px" src="/media/logo.svg" alt="Elmore Stream IT"></li>
				<li></li>
			</div>

			<div class="options">
				<li>Dashboard</li>
				<li>Users</li>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vitae totam reprehenderit quae labore.
			Rem numquam, aut sint, deleniti, pariatur beatae magni quos impedit reiciendis tenetur dolorum reprehenderit
			minima ab ea nesciunt debitis perferendis! Aliquid odio doloribus voluptatem perferendis eligendi, eaque
			harum! Ad maiores labore soluta eius accusamus nostrum quaerat. Quibusdam excepturi quos, neque libero
			laborum quam corporis quas! Deserunt nesciunt reprehenderit quis alias laudantium esse dignissimos natus,
			sapiente rem eveniet assumenda perferendis dicta earum error, aspernatur nulla pariatur maxime dolore? Eum
			fugiat, magni quibusdam inventore officia optio numquam cupiditate excepturi sint molestias eligendi, vero,
			harum repudiandae! Error saepe facilis dignissimos reiciendis eveniet quis eaque similique pariatur, quae
			ipsa fugiat! Ipsa voluptate delectus eum perspiciatis minus voluptates doloribus nesciunt, error esse. In
			eveniet dolorum nostrum tenetur quisquam optio nobis sit exercitationem inventore! Numquam nostrum quos
			dolor vitae optio exercitationem delectus eius ut ipsa eveniet, neque illum ex corrupti iusto? Magnam
			necessitatibus dolor tempore dicta atque quo deserunt quia esse? Minima aliquam illo soluta blanditiis
			maxime, saepe quibusdam, ullam sequi doloribus, adipisci libero nisi sed consequatur nesciunt iste ab
			repellat cupiditate velit quae tenetur alias deleniti error? Cum nam et, quas aspernatur impedit iusto,
			reprehenderit, iure eum incidunt quod inventore fugiat?
		</div>
		<div>
			<h1>Coming soong...</h1>
		</div>
	</div>
</body>

</html>