<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/login/style.css" rel="stylesheet" type="text/css"/>
		<link rel="icon" type="image/x-icon" href="/media/favicon.svg">
		<title>Login</title>
		<!-- main css files -->
		<link rel="stylesheet" href="<%= assetFingerprint('/css/main.css') %>" type="text/css"/>
		<link rel="stylesheet" href="<%= assetFingerprint('/css/btns.css') %>" type="text/css"/>
		<link href="<%= assetFingerprint('/css/form-box.css') %>" rel="stylesheet" type="text/css"/>
		<!-- layouts -->
		<link href="<%= assetFingerprint('/css/header.css') %>" rel="stylesheet" type="text/css"/>
		<link href="<%= assetFingerprint('/css/footer.css') %>" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<%- include("layouts/header") %>
		<div class="wrapper-box">
			<div class="wrapper">
				<h3>Sign in</h3>
				<form class="login-form" method="post">
					<div>Login</div>
					<input class="field-login inp green-inp">

					<div>Password</div>
					<input class="field-pass inp green-inp" type="password">

					<a href="reset" class="green-lnk">Reset password</a>
					<a href="create" class="green-lnk">New account</a>

					<button class="login-btn green-btn btn">Login</button>
					<div class="alert"></div>
				</form>
			</div>
		</div>
		
		<%- include("layouts/footer") %>
		<script src="/js/login/script.js"></script>
	</body>
</html>
