<!DOCTYPE html>
 <html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/x-icon" href="../media/favicon.svg">

		<!-- Стили -->
		<link rel="stylesheet" href="<%= assetFingerprint('/css/main.css') %>" type="text/css"/>
		<link rel="stylesheet" href="<%= assetFingerprint('/css/btns.css') %>" type="text/css"/>
		<link rel="stylesheet" href="<%= assetFingerprint('/css/header.css') %>" type="text/css"/>

		<link rel="stylesheet" href="<%= assetFingerprint('/css/main/wrapper.css') %>" type="text/css"/>

		<link rel="stylesheet" href="<%= assetFingerprint('/css/footer.css') %>" type="text/css"/>

		<!-- Theme -->
		<link rel="stylesheet" href="main/light.css" type="text/css" class="theme-link">
		<title>ELMORE STREAM IT</title>
	</head>
	<body>
		<%- include("layouts/header") %>
<link rel="stylesheet" href="wrapper.css" type="text/css">
	<!-- туловище сайта -->
	<div class="wrapper-box">
		<h1>Suggested</h1>
		<div class='wrapper'>
			<% data.forEach(function(user) { %>
				<div class="video-box">
					<a href="<%= user.path %>" class="video-link">
						<div class="video">
							<img src="<%= user.poster %>" class="poster"></img>
							<br>
							<br>
							<span class="title info"><%= user.title %></span><br>
							<span class="posted info">
								<object>
									posted by <a href="/character/<%= user.author %>" class="blue-link"><%= user.author %></a>
								</object><br>
							</span>
							<span class="views info"><%= user.views %> views</span>
						</div>
					</a>
				</div>
			<% }); %>
		</div>
	</div>
<%- include("layouts/footer") %>