<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="/css/reset/style.css" rel="stylesheet" type="text/css"/>
		<link rel="icon" type="image/x-icon" href="/media/favicon.svg">
		<title>Reset password</title>
		<!-- main css files -->
		<link rel="stylesheet" href="<%= assetFingerprint('/css/main.css') %>" type="text/css"/>
		<link rel="stylesheet" href="<%= assetFingerprint('/css/btns.css') %>" type="text/css"/>
		<link href="<%= assetFingerprint('/css/form-box.css') %>" rel="stylesheet" type="text/css"/>
		<!-- layouts -->
		<link href="<%= assetFingerprint('/css/header.css') %>" rel="stylesheet" type="text/css"/>
		<link href="<%= assetFingerprint('/css/footer.css') %>" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<%- include("layouts/header") %>
		<div class="wrapper-box">
			<div class="wrapper">
				<h3>Reset password</h3>
				<form class="reset-form" method="post">
					<div>Login</div>
					<input class="login inp green-inp">

					<a href="create" class="green-lnk">New account</a>
					<a href="login" class="green-lnk">Login</a>

					<button class="find-btn green-btn btn">Find</button>
					<div class="alert"><br></div>
				</form>
			</div>
		</div>
		<%- include("layouts/footer") %>
	</body>
</html>
