<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/media/favicon.svg">
<!-- Styles -->
	<link rel="stylesheet" href="<%= assetFingerprint('/css/play/style.css') %>" type="text/css">
<!-- Title -->
	<title><%= video.title %></title>
		<!-- main css files -->
		<link rel="stylesheet" href="<%= assetFingerprint('/css/main.css') %>" type="text/css"/>
		<link rel="stylesheet" href="<%= assetFingerprint('/css/btns.css') %>" type="text/css"/>
		<!-- layouts -->
		<link href="<%= assetFingerprint('/css/header.css') %>" rel="stylesheet" type="text/css"/>
		<link href="<%= assetFingerprint('/css/footer.css') %>" rel="stylesheet" type="text/css"/>
</head>
	<body>
	<%- include("../layouts/header") %>
		
	<!-- Display -->
	<div class="wrapper-box">
		<div class="box">
			<!-- RIGHT -->
			<div class="display">
				<h1 class="title-frm"><%= video.title %></h1>
				<h3 class="posted-frm">posted by <a class="blue-lnk" href="/character/<%= video.author %>"><%= video.author %></a></h3>
				<div class="frame">
					<iframe width="100%" height="100%" src="https://video.sibnet.ru/shell.php?videoid=<%= video.path %>&share=0&autoplay=1" frameborder="0" scrolling="no" allowfullscreen></iframe>
				</div>

				<div class="desc">
					<div class="info-box">
						<span><b>Description:</b> <%= video.description %></span>
						<span class="views-box"><b><%= video.views %></b> views</span>
					</div>
					<div class="options">
						<div class="add-comment">
							<span><b>add a comment</b></span>
							<br>
							<textarea required name="comment" rows="6" class="body-cmt"></textarea>
							<br>
							<button class="btn green-btn add-cmt">Add comment</button>
						</div>
						<div class="lds">
							<div class="likes-dis">
								<img class="like like-btn" src="/media/img/like.svg" alt="likes"><span class="like-count"><%= video.likes %></span>
								<img class="dislike dislike-btn" src="/media/img/dislike.svg" alt="dislikes"><span class="dislike-count"><%= video.dislikes %></span>
							</div>
							<div class="share">
								<span>SHARE TO</span>
								<p onclick="comingSoon()">
									<a href="#"><img src="/media/img/vk.png" alt=""></a>
									<a href="#"><img src="/media/img/earth.svg" alt=""></a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<hr>
					<h3>Comments:</h3>
				<div class="comments messages">
					<% comments.forEach(function(cmt) { %>
						<div class="comment-box">
							<div class="comment">
								<div>
									<p class="author-cmt">
										<div class="avatar-frame <%= cmt.role %>">
											<img class="avatar" src="<%= cmt.user_avatar %>" alt="Avatar" />
										</div>
										<br>
										<%= cmt.author %>
									</p>
								</div>
								<div class="lt"></div><div class="body"><%= cmt.body %></div>
								<div class="l-d" onclick="comingSoon()">
									<p>
										<img class="like-cmnt-btn" src="/media/img/like.svg" alt="likes"> <span class="like-c-count"><%= cmt.likes %></span>
										<img class="dislike-cmnt-btn" src="/media/img/dislike.svg" alt="dislikes"> <span class="dislike-c-count"><%= cmt.dislikes %></span>
									</p>
								</div>
							</div>
							<hr>
							<div class="reply">
								<textarea class="inp reply-inp" type="text" placeholder="Type text..."></textarea><button onclick="comingSoon()" class="btn green-btn reply-btn">reply</button>
							</div>
						</div>
					<% }); %>
				</div>
			</div>

			<!-- LEFT -->
			<div class="similar">
				<p class="rec"><img class="camera" src="/media/img/camera.svg" alt="camera">VIDEOS YOU MIGHT LIKE TOO</p>
				<div class="wrapper">
				<% data.forEach(function(videos) { %>
					<div class="video-box">
						<a href="/video/<%= videos.id %>" class="video-link">
							<div class="video">
								<img src="https://video.sibnet.ru/upload/cover/video_<%= videos.poster %>_0.jpg" class="poster" alr="<%= videos.title %>"></img>
								<br>
								<br>
								<span class="title info"><%= videos.title %></span><br>
								<span class="posted info">
									<object>
										posted by <a href="/character/<%= videos.author %>" class="blue-lnk"><%= videos.author %></a>
									</object><br>
								</span>
								<span class="views info"><%= videos.views %> views</span>
							</div>
						</a>
					</div>
				<% }); %>
				</div>
				<div class="more-btn-box"><button class="btn green-btn more">more videos</button></div>
			</div>
		</div>
	</div>


	<%- include("../layouts/footer") %>
<script src="/socket.io/socket.io.js"></script>
<script>
	let userLoged = "<%= user.login %>" || false;
	if (userLoged) {
		let socket = io();

		let btn = $('.add-cmt');
		let messages = $('.messages');
		btn.on('click', function (e) {
			let avatar = "<%= user.avatar %>";
			let author = "<%= user.login %>";
			let input = $('.body-cmt').val()
			console.log(input)

			let data = {
				avatar: avatar,
				author: author,
				body: input
			}
			if (author) {
				socket.emit('chat message', JSON.stringify(data))
			}
		})

      socket.on('chat message', function(msg) {
      	let coment = JSON.parse(msg);
      	let item = `
      		<div class="comment-box">
				<div class="comment">
					<div>
						<p class="author-cmt">
							<div class="avatar-frame ${coment.role}">
								<img class="avatar" src="${coment.avatar}" alt="Avatar" />
							</div>
							<br>
							${coment.author}
						</p>
					</div>
					<div class="lt"></div><div class="body">${coment.body}</div>
					<div class="l-d" onclick="comingSoon()">
						<p>
							<img class="like-cmnt-btn" src="/media/img/like.svg" alt="likes"> <span class="like-c-count">0</span>
							<img class="dislike-cmnt-btn" src="/media/img/dislike.svg" alt="dislikes"> <span class="dislike-c-count">0</span>
						</p>
					</div>
				</div>
				<hr>
				<div class="reply">
					<textarea class="inp reply-inp" type="text" placeholder="Type text..."></textarea><button class="btn green-btn reply-btn">reply</button>
				</div>
			</div>
      	`;
        $(".messages").prepend(item);
      });
	}
</script>

	<div class="allow-box" style="position: fixed; top: 10px; right: 10px;">
	<script src="/js/video/play/script.js"></script>
	</body>
</html>